@model List<string>

@{
    ViewData["Title"] = "Database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Databases</h1>

<p>
    <a class="btn btn-outline-success" asp-action="CreateDatabase">Create database</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string databaseName in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-outline-dark btn-sm" asp-action="Redirect_Schema" asp-route-databaseName="@databaseName">@databaseName</a> <span class="badge badge-secondary text-secondary">(@ViewBag.dbLogic.GetSchemaNames(@databaseName).Count)</span>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DatabaseDelete" asp-route-databaseName="@databaseName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

