# Visual Studio cache/options directory
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Tools pulled down during build
.tools/
.dotnet/
.packages/

# Temp js files
*.Development.json

# Db files :)
*.db.json
*_JDB/

# User-specific files
*.user

# Click-Once
publish/
PublishProfiles/
*.pubxml
