@{
    ViewData["Title"] = "Create Schema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<h4>
    <a class="text-secondary" asp-controller="Database" asp-action="index">@ViewBag.databaseName</a>
    /
    Schemas
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="myForm" action="/Schema/CreateSchema" method="Post">
            <div class="visually-hidden">
                <input type="text" name="databaseName" class="form-control" value="@ViewBag.databaseName" />
            </div>
            <div class="form-group">
                <label class="control-label">Schema name</label>
                <input type="text" name="schemaName" class="form-control" value="" />
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

