@{
    ViewData["Title"] = "JDB";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JDB</h1>
</div>

<br />
<br />

<div class="card">
    <h5 class="card-header">Database</h5>
    <div class="card-body">
        <h5 class="card-title">DB editor</h5>
        <p class="card-text">You can edit the database online! This is a small DBMS in your browser!</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Open_Database">Try it now</a>
    </div>
</div>

<br />
<br />

<div class="text-center">
    <a href="https://github.com/MeinLiX">Author GitHub</a>
</div>